@font-face {
    font-family: Futura;
    src: url(./fonts/futura/unicode.futurab.ttf);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    font-family: Helvetica,sans-serif; 
    color: gray;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url("./images/C.webp");
    background-size: cover;
    scroll-behavior: smooth;
}

/*Sidebar CSS*/

.sidebar{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    height: 100%;
    width: 85px;
    background: #1e2c42;
    opacity: 0.97;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 300px;
}

.sidebar .logo_content .logo{
    display: flex;
    color: white;
    height: 60px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}


.logo_content .logo .logo_image{
    background-image: url("./images/Logic.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.sidebar .logo_content .logo .logo_name{
    font-family: Futura;
    font-size: 30px;
    margin-right: 5px;
}

.sidebar #menu_image{
    position: absolute;
    background-image: url("./images/menu.svg");
    background-size: contain;
    left: 25%;
    top: 17.5px;
    width: 40px;
    height: 40px;
    align-self: center;
    transition: all 0.5s ease;
}

.sidebar.active #menu_image{
    left:80%;
}

.sidebar .logic_image{
    display: inline-block;
    background: url("./images/Logic.png");
    background-size: cover;    
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    border-radius: 12px;
    line-height: 50px;
    margin-right: -300px;
    transition: all 0.5s ease;
}

.sidebar.active .logic_image{
    display: inline-block;
    background: url("./images/Logic.png");
    background-size: cover;    
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    border-radius: 12px;
    line-height: 50px;
    margin-right: 10px;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 80px;
    line-height: 55px;
    width: 90%;
    list-style: none;
    margin: 0px 2px;
    transition: all 0.5s ease;
}

.sidebar.active ul li{
    width: 100%;
    line-height: 55px;
}

.sidebar ul li a{
    color:#cadaed;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar .name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a:hover{
    color:#2a6380;
    background: #e6eeff;
    border-radius: 5px;
}

/*Main Content CSS*/

.main_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 85px);
    left: 85px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main_content{
    width: calc(100% - 300px);
    left: 300px;
}

/*For Mobile*/
@media(max-width: 35em){
    .sidebar.active{
        width: 100%;
    }
    .sidebar.active ~ .main_content{
        opacity: 0;
    }
}

/*Welcome*/
#welcome{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #1e2c42;
    text-align: center;
}

#welcome h1{
    color: azure;
    text-transform: uppercase;
    font-family: Futura;
    font-size: 60px;
}

.section{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px 20px 20px;
    width: auto;
    height: 300px;
    background: whitesmoke;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 
    5px 5px 9px rgba(94,104,121,0.3);
    transition: all 0.5s ease;
}

.section:hover{
    transform: scale(1.02);
}

.section #frege{
    flex: 1 1 10%;
    background-image: url("./images/Frege.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100%;
}

.section #logic_text{
    flex: 1 1 70%;
    margin: 0px 15px;
    left:250px;
    width: calc(100% - 250px);
    height: 100%;
}

.section h1{
    text-align: center;
    line-height: 80px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Trajan Pro;
    color: #363230;
}

.section p{
    padding-top: 20px;
    overflow-wrap: normal;
    font-family: Garamond,serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;

}

.section em{
    font-style: bold;
    color: #363230;
}